<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tradutor | Phyrexia</title>
    <link rel="stylesheet" href="static/assets/css/style.css">
    <link rel="shortcut icon" href="static/assets/img/logo.png" type="image/x-icon">
</head>
<body>
    <div class="background-blur"></div>
    <header>
        <img src="static/assets/img/logo.png" alt="Logo Phyrexia">
        <h1>Phyrexia</h1>
        <p><a href="https://hublast.com/phyrexia-font/game">GAME</a></p>
    </header>
    <main>
        <h1 class="Phyrexia">Tudo sera um</h1>
        <p class="infoPhyrexia">A tradução utiliza uma fonte chamada <strong><a href="https://github.com/wendellast/Phyrexia-Font" target="_blank">"PhyrexiaFont"</a> atualmente na v2</strong>. Para visualizar os símbolos da linguagem Phyrexia fora do site, você precisará baixar a fonte e instalá-la em seu dispositivo. Você pode obter a fonte para download aqui:</p>
        <a id="downloadButton" href="static/assets/font/PhyrexiaFontV2.ttf" download="PhyrexiaFont.ttf">Baixar Fonte Phyrexia</a>
        <div id="container">
            <div id="inputBox" class="box" contenteditable="true" data-placeholder="Digite aqui para traduzir"></div>
            <div id="outputBox" class="box">
            
            </div>
        </div>
        <button id="copyButton">Copiar Texto</button> 
        <div id="infoContainer">
            <div>
                <p>Este não é um tradutor oficial, mas sim uma interpretação pessoal. A tradução segue o seguinte mapa:</p>
                <p>Para obter informações oficiais sobre o assunto, consulte este artigo:</p>
                <a href="https://magic.wizards.com/en/news/feature/a-breakthrough-in-phyrexian-language-and-communications" target="_blank">Wizard Phyrexia-Language</a>, 
                <a href="https://www.ligamagic.com.br/?view=artigos/view&aid=4393" target="_blank">LigaMagic Phyrexia-Language</a>
            </div>
            <picture>
                <img class="mapImg" src="static/assets/img/alphabet.png" alt="Mapa do alfabeto">
            </picture>
        </div>
    </main>
    <footer>
        <p><a href="https://github.com/wendellast" target="_blank">Github</a> | <a href="https://hublast.com/" target="_blank">Portfolio</a> | <a href="https://github.com/wendellast/Phyrexia-Font" target="_blank">Repositório do site</a></p>
    </footer>
    <script src="static/assets/js/translate.js"></script>
</body>
</html>
